.a{
    color: #ff0000;
}
.wb{
    background-color: rgba(229, 229, 229, 0.949);
    color: #1a1a1b;
}
.wb-chapter{
    color: #1a1a1b;
    font-size:50px;
}
.bw{
    color: rgba(229, 229, 229, 0.949);
    background-color: #1a1a1b;
}
.bw-chapter{
    color: rgba(229, 229, 229, 0.949);
    font-size:50px;
}
p{
    text-align:left;
    font-family: 'EB Garamond';
    font-size:15px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
br{
    margin-bottom: 50px;
}
.button.big .button.wb{
    color: #1a1a1b;
    border-color: #1a1a1b;
}
.button.big .button.bw{
    color: rgba(229, 229, 229, 0.949);
    border-color: rgba(229, 229, 229, 0.949);
}
.button.big.bw:hover,.button.big.wb:hover{
    color: rgba(122, 122, 122, 0.949);
    border-color: rgba(122, 122, 122, 0.949);
}

.unstable {
    color: white;
    font-size: 100px;
    position: relative;
    width: 400px;
    margin: 0 auto;
  }
  @keyframes noise-anim {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        $topWithPercent: $top * 1%;
        $bottomWithPercent: $bottom * 1%;
        clip-path: inset(#{$topWithPercent} 0 #{$bottomWithPercent} 0);
      }
    }
  }
  .unstable::after {
    content: attr(data-text);
    position: absolute;
    left: 4px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    animation: noise-anim 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2 {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        $topWithPercent: $top * 1%;
        $bottomWithPercent: $bottom * 1%;
        clip-path: inset(#{$topWithPercent} 0 #{$bottomWithPercent} 0);
      }
    }
  }
  .unstable::before {
    content: attr(data-text);
    position: absolute;
    left: -4px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    animation: noise-anim-2 15s infinite linear alternate-reverse;
  }